/* Developer: leo7044 (https://github.com/leo7044) */
.own-jumbotron-bgcolor
{
	background-color: #F8F8FF;
}

.own-container
{
	background-color: #E9ECEF;
	padding: 2rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
	margin-bottom: 2rem;
}

.own-container-text
{
	background-color: #F8F8FF;
	padding: 2rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
	margin-bottom: 2rem;
}