/* Developer: leo7044 */
.own-jumbotron-bgcolor
{
	background-color: #F8F8FF;
}

.divGoogleChart
{
	height: 500px;
}

.list-group
{
	margin-bottom: 20px !important;
}

.modal-xl
{
	max-width: 90%
}

a, th
{
	cursor: pointer;
}

#MovableCnCOpt
{
	position: absolute
}

body
{
	overflow: scroll;
}